<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Query Builder</title>
<style>
    table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    }

    th, td {
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
    </style>

</head>
<body>
   
    <form method="GET" action="/">
        {% csrf_token %}
        <div style="width: 500px; align-items:center; justify-content: center; margin: 0; display: flex; display: inline-block;">
            <textarea class="form-control" rows="3" name="q"></textarea>
        </div><br/><br/>
        <input type="submit"  class="btn btn-secondary btn-lg" value="Execute Query" />
    </form>

    {% if error %}
    <script>
        alert('{{error}}')
        </script>
    {% endif %}
    <br />
    <br />

        {% if a %}
        <div class="table-responsive text-nowrap" style="width: 1280px; margin-left:40px;">
            <!--Table-->
            <table class="table table-striped ">
                <thead>
                    <tr>
                        {% for m in c%}
                            <th scope="col" value={{m.values}}>{{m}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <!--Table head-->
        
                <!--Table body-->
                <tbody>
                {% for u in a %}
                    <tr>
                        {% for o in u.values%}
                        <td>{{o}}</td>
                        {% endfor %}
                        <!-- <td>{{u.values}}</td>
                                                <td>{{u.accountname}}</td>
                                                <td>{{u.accoout_num_alia}}</td>
                                                <td>{{u.customerId}}</td> -->
                    </tr>
                {% endfor %}
                </tbody>
                <!--Table body-->
        
        
            </table>
            <!--Table-->
        </div>
        {% endif %}

</body>
</html>